<% layout("layouts/boilerplate") %>

<body>
 <div class="row mt-3">
  <div class="col-8 offset-2">
       <h3>Edit details</h3>
      <form action="/listings/<%=listing._id%>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
         <div class="mb-3"><label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required>
         <div class="invalid-feedback">Please enter a valid title</div>
        </div>
      
         <div class="mb-3"> <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required><%=listing.description%></textarea>
      <div class="invalid-feedback">Please enter a valid description</div>
        </div>

        <div class="mb-3">
          Original Image <br>
          <img src="<%= originalImageUrl %>"/>
        </div>
  
         <div class="mb-3"><label for="image" class="form-label">Upload image</label>
        <input type="file" name="listing[image]" class="form-control" >
        </div>

        <div class="row">
           <div class="mb-3 col-md-4"><label for="price" class="form-label">Price</label>
        <input type="number" name="listing[price]" value="<%= listing.price%>" class="form-control" required>
         <div class="invalid-feedback">Please enter a valid price</div>
        </div>

        <div class="mb-3 col-md-8"> <label for="country" class="form-label">Country</label>
           <input type="text" name="listing[country]" value="<%= listing.country%>" class="form-control" required>
           <div class="invalid-feedback">Please enter a valid country</div>
        </div>
        </div>

      <div class="row">
           <div class="mb-3 col-md-8"> <label for="location" class="form-label">Location</label>
        <input type="text" name="listing[location]" value="<%= listing.location%>" class="form-control" required>
        <div class="invalid-feedback">Please enter a valid location</div>
       </div>
        
         <div class="mb-3 col-md-4">
  <label for="category" class="form-label">Category</label>
<select name="listing[category]" class="form-control" required>
  <option value="trending" <%= listing.category === "trending" ? "selected" : "" %>>Trending</option>
  <option value="room" <%= listing.category === "room" ? "selected" : "" %>>Room</option>
  <option value="beach" <%= listing.category === "beach" ? "selected" : "" %>>Beach</option>
  <option value="farm" <%= listing.category === "farm" ? "selected" : "" %>>Farm</option>
  <option value="mountain" <%= listing.category === "mountain" ? "selected" : "" %>>Mountain</option>
  <option value="pool" <%= listing.category === "pool" ? "selected" : "" %>>Amazing pool</option>
  <option value="arctic" <%= listing.category === "arctic" ? "selected" : "" %>>Arctic</option>
  <option value="camping" <%= listing.category === "camping" ? "selected" : "" %>>Camping</option>
  <option value="safari" <%= listing.category === "safari" ? "selected" : "" %>>Safari</option>
  <option value="apartment" <%= listing.category === "apartment" ? "selected" : "" %>>Apartment</option>
  <option value="iconic cities" <%= listing.category === "iconic cities" ? "selected" : "" %>>Iconic cities</option>
</select>

</div>
      </div>

         <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
  </div>
 </div>
</body>
